body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}

.manageSongs {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

.importBtn {
    margin-top: 10px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: #0056b3;
    }
}

.songList {
    margin-top: 20px;
    text-align: center;
}

.songUl {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

.songLi {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.deleteBtn {
    padding: 5px 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: #c82333;
    }
}

.navBtnContainer {
    margin-top: 20px;
}

.navBtn {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: #0056b3;
    }
}

@media screen and (max-width: 600px) {
    .manageSongs {
        max-width: 100%;
        padding: 0 10px;
    }

    .songLi {
        width: 100%;
    }
}